<p>
  Welcome <strong>{{loggedInUser | uppercase}}</strong> to your portal page!
</p>

<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        User Details
      </div>
      <div class="card-block">
        <div class="card-text">
          <p>First Name: <strong>{{userInfo.firstname}}</strong></p>
          <p>Last Name: <strong>{{userInfo.lastname}}</strong></p>
          <p>Email: <strong>{{userInfo.email}}</strong></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="number" placeholder="Enter rent amount!" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<h2 *ngIf="paypalLoad">Paypal button is loading</h2>
<div id="paypal-checkout-btn"></div>
