<p>
  Welcome <strong>{{loggedInUser | uppercase}}</strong> to your portal page!
</p>

<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        <div class="clr-row clr-justify-content-between">
          <div class="clr-col-4">
            <span>
              User Details
            </span>
          </div>
          <div class="clr-col-4">
            <span>
              <h5>Rent Balance: {{userInfo.rentBalance}}</h5>
            </span>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <p>First Name: <strong>{{userInfo.firstname}}</strong></p>
          <p>Last Name: <strong>{{userInfo.lastname}}</strong></p>
          <p>Email: <strong>{{userInfo.email}}</strong></p>
          <p>Apartment Name: <strong>{{userInfo.ApartmentName}}</strong></p>
          <p>House: <strong>{{userInfo.House_No}}</strong></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="number" placeholder="Enter rent amount!" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
<!-- <h2 *ngIf="paypalLoad">Paypal button is loading</h2> -->
<span *ngIf="paypalLoad" class="spinner spinner-inline">
  Loading...
</span>
<span *ngIf="paypalLoad">
  Paypal button is loading...
</span>
<div id="paypal-checkout-btn"></div>
